.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 70px);
  color: var(--textColor);
}

.home-container button {
    background-color: transparent;
    color: var(--premium);
    margin: 20px 20px;
    border: 2px solid var(--premium);
    padding: 8px 15px;
    border-radius: 15px;
    animation-duration: 0.4s;
    font-weight: 600;
    font-size: 35px;
}

.home-container button:hover {
  background-color: var(--premium);
  color: white;
}
