.profile-container{
    min-height: calc(100vh - 70px);
    width: 100%;
    box-sizing: border-box;
    color: var(--textColor);
}

.profile-container .user-section, .profile-container .tickets-section{
    display: flex;
    align-items: flex-start;
    flex-direction: center;
    flex-direction: column;
    padding: 10px 30px;
}

.profile-container .user-section h1, .profile-container .tickets-section h1{
    font-size: 35px;
    font-weight: 700;
    margin: 10px 0 15px 0;
}

.profile-container .user-section>div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.profile-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.profile-container .card {
  position: relative;
  background: var(--secondary);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 20px;
  transition: 0.3s;
  border: 2px solid transparent;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.profile-container .card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7px;
  background-color: var(--premium);
  border-radius: 10px 0 0 10px;
}

.profile-container .card:hover {
  border-color: var(--premium);
}

.profile-container .card h3 {
  font-size: 25px;
  color: var(--premium);
  margin-bottom: 10px;
  font-weight: 700;
}

.profile-container .card h5 {
  font-size: 20px;
  font-weight: 500;
}

.profile-container .card h5 {
  font-weight: 500;
  font-size: 20px;
}

.profile-container .card h5 span{
  font-weight: 600;
  font-size: 22px;
}

.profile-container .card p {
  font-size: 20px;
  font-weight: 500;
}

.profile-container .card button {
  background-color: transparent;
  color: var(--premium);
  border: 2px solid var(--premium);
  padding: 8px 12px;
  border-radius: 10px;
  animation-duration: 0.4s;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
}

.profile-container .card button:hover {
  background-color: var(--premium);
  color: white;
}
