body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Color pallete: */
:root{
  /* --premium: #1db954;
  --primary: #121212;
  --secondary: #212121;
  --tertiary: #555555;
  --textColor: white; */

  --premium: purple;
  --secondary: white;
  --primary: #e7e7ff;
  --tertiary: #EDEBFF;
  --textColor: black;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--primary);
  color: while;
}